{% extends "base.html" %}
{% block content %}
<!-- Select Job -->
<!-- Select Task -->
<!-- Enter field work info -->

<form action="", role="form", method="post", name="fieldwork">
<div class="form-group">
<label for="incompleteFieldWork">Job</label>
  <select id="jobno" class="form-control" name="jobno">
    <option selected>Choose job</option>
    {% for job in jobs %}
    <option value={{job.jobno}}>Client:{{job.client}} Development: {{job.development}}</option>
    {% endfor %}
  </select>
</div>
        <table class="table table-sm">
            <thead>
                <th scope="col">Development</th>
                <th>Client</th>
                <th>Contract Date</th>
                <th>Location</th>
                <th>Range</th>
                <th>Section</th>
                <th>Township</th>
                <th>Restake Count</th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                    <input id="development" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="client" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="contractdate" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="location" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="range" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="section" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="township" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="restakecount" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="planno" name="planno" type="hidden" class="form-control" type="text">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-sm">
        <thead>
            <th>Task No</th>
            <th>Task Description</th>
            <th>Task Notes</th>
            <th>Work Date</th>
            <th>Employee Number</th>
            <th>Completed</th>
            <th>Beginning Page Noo</th>
            <th>Book No</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <input id="taskno" class="form-control" type="text" readonly>
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="taskdescrip" class="form-control" type="text" readonly>
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="tasknotes" class="form-control" type="text" readonly>
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="workdate" name="workdate" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="employeeno" name="employeeno" class="form-control" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isComplete" id="completeTask" value="Y" checked>
                        <label class="form-check-label" for="completeTask">Complete</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isComplete" id="incompleteTask" value="N">
                        <label class="form-check-label" for="completeTask">Incomplete</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="pageno" name="pageno" class="form-control" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="bookno" name="bookno" class="form-control" type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<script type="text/javascript" src="{{url_for('static', filename='js/fieldwork.js')}}"></script>
{% endblock %}
