{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form id="planSurveyForm" action="", role="form", method=post>
            <div class="form-group">
            <label for="uncompleteSurvey">Survey Request</label>
              <select class="form-control" id="surveyrequest" name="surveyrequest">
                <option selected>Choose survey request</option>
                {% for job in jobs %}
                <option value={{job.jobno}}>Client:{{job.client}} Development: {{job.development}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
            <label for="tasks">Tasks</label>
              <select class="form-control" name="task" id="taskInfo">
                <option selected>Choose task</option>
                {% for task in tasks %}
                <option value={{task.taskno}}>{{task.description}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
                <label for="notes">Notes</label>
                <input class="form-control" name="notes" id="taskNotes" type="text"></input>
            </div>

            <button type="button" class="btn btn-primary" id="addTask">Add Task</button>
              <button type="submit" id="submitPlan" class="btn btn-success">Submit</button>
        </div>
        <div class="col-sm" name="addedTasks" id="addedTasks">
            <label for="pendingTasks">Added Tasks</label>
            <ul class="list-group">
            </ul>
            <div>
            <button type="button" class="btn btn-primary" id="removeTask">Remove Task</button>
            <div>
        </div>

    </div>
</div>
</form>

<script type="text/javascript" src="{{url_for('static', filename='js/planSurvey.js')}}"></script>
{% endblock %}
