{% extends "base.html" %}
{% block content %}
<form action="", role="form", method=post>
<div class="form-group">
<label for="uncompleteSurvey">Survey Request</label>
  <select class="form-control" name="surveyrequest">
    <option selected>Choose uncompleted survey request</option>
    {% for job in jobs %}
    <option value={{job.jobno}}>Client:{{job.client}} Development: {{job.development}}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group">
<label for="tasks">Tasks</label>
  <select class="form-control" name="task">
    <option selected>Choose task</option>
    {% for task in tasks %}
    <option value={{task.taskno}}>{{task.description}}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group">
    <label for="notes">Notes</label>
    <input class="form-control" name="notes" type="text"></input>
</div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
