{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="form-group">
<form action="", role="form", method=post>
    {{form.csrf}}
    <dl>
        {{ render_field(form.development)  }}
        {{ render_field(form.client)  }}
        {{ render_field(form.location)  }}
        {{ render_field(form.sRange)  }}
        {{ render_field(form.section)  }}
        {{ render_field(form.township)  }}
        {{ render_field(form.requestedBy)  }}
    </dl>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
{% endblock %}
