{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<form method=post>
    <dl>
        {{ render_field(form.development)  }}
        {{ render_field(form.client)  }}
        {{ render_field(form.location)  }}
        {{ render_field(form.sRange)  }}
        {{ render_field(form.section)  }}
        {{ render_field(form.township)  }}
        {{ render_field(form.requestedBy)  }}
    </dl>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
