{% extends "base.html" %}
{% block content %}
<form id="scheduleForm" action="", role="form", method="post", name="schedule">
<div class="form-group">
    <input id="employeeno" name="employeeno" class="form-control" type="text" placeholder="Employee Number Filling out Schedule">
</div>
<div class="form-group">
<label for="incompleteSchedule">Schedule</label>
  <select id="jobno" class="form-control" name="jobno">
    <option selected>Choose job</option>
    {% for job in jobs %}
    <option value={{job.jobno}}>Client:{{job.client}} Development: {{job.development}}</option>
    {% endfor %}
  </select>
</div>
        <table class="table table-sm">
            <thead>
                <th scope="col">Development</th>
                <th>Client</th>
                <th>Contract Date</th>
                <th>Location</th>
                <th>Range</th>
                <th>Section</th>
                <th>Township</th>
                <th>Date Requested</th>
                <th>Requested By</th>
                <th>Completion Date</th>
                <th>Restake Count</th>
                <th>Two Sets of Drawings</th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                    <input id="development" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="client" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="contractdate" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="location" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="range" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="section" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="township" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="daterequested" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="requestedby" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="completiondate" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="restakecount" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>    
                    <div class="form-group">
                    <input id="istwosetsdrawings" class="form-control" type="text" readonly>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input id="planno" name="planno" type="hidden" class="form-control" type="text">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table id="tasksTable" class="table table-sm">
        <thead>
            <th>Task No</th>
            <th>Task Description</th>
            <th>Task Notes</th>
            <th>Crew</th>
            <th>Work Date</th>
            <th>Crew Notes</th>
        </thead>
        <tbody id="assignments">
        </tbody>
    </table>
  <button id="submitSchedule" type="submit" class="btn btn-success">Submit</button>
</form>
<script type="text/javascript" src="{{url_for('static', filename='js/schedule.js')}}"></script>
{% endblock %}
