{% extends 'base.html' %}
{% block content %}
<h2>{{start}} to {{end}}</h2>
<div class="col-xs-6">
    <div class="table-responsive">
        <table id="jobinfo" class="table table-striped">
            <thead>
                <tr>
                    <th>Job No</th>
                    <th>Development</th>
                    <th>Re-stake</th>
                </tr>
            <thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-6">
    <div class="table-responsive">
        <table id="taskinfo" class="table table-striped">
            <thead>
                <tr>
                    <th>Task No</th>
                    <th>Task Description</th>
                    <th>Task Notes</th>
                    <th>Crew No</th>
                    <th>Assignment Notes</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/weeklyschedule.js')}}"></script>
{% endblock %}
                        
